


.homepage{
    width:100%;
    padding:0px;
    margin: 0px;
    height:10vh;
    background-color:#0568a6;
    display:flex;
    justify-content:center;
    align-items:center;
}

#title{
    color:#f2f2f2;
    margin:0px;
    font-family:'Times New Roman', Times, serif;
}

.content{
    min-height: 85vh;
    margin:0px;
    padding:0px;
    background-color:aliceblue;
    font-family:'Times New Roman', serif;
    color:black;
}

#line{
    margin:0px;
    padding:0px;
    background-color:gray;
    height:2px;
}

footer{
    text-align:right;
    height:5vh;
    margin:0px;
    padding:0px;
    background-color:rgb(208, 78, 78);
}

footer p{
    margin-right:10px;
    text-align:right;
    color:white;
}

.page{
    margin:0px;
    padding-top:7vh;
    padding-left:20vw;
    padding-right:20vw;
    display:flex;
    flex-direction: column;
}

.page h1{
    margin:0px;
}

.page p{
    margin:0px;
    margin-bottom:15px;
    word-wrap:break-word;
}

.content h1{
    font-size:25px;
}

#break{
    height:1px;
    color:black;
    background-color:gray;
    width:100%;
}

#ticker{
    text-align:center;
    margin-top:5vh;
    margin-bottom:0px;
    color:gray;
}

.form{
    margin-top:5px;
    margin-bottom:5px;
    text-align:center;
    display:flex;
    justify-content:center;
    width:100%;
}


.formtext{
    width:50%;
    height:40px;
    font-size:30px;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}

.formtext:focus{
    outline:none;
    background-color:#0568a6;
    color:white;
}


.buttons{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:5vh;
}

.button{
    margin-top:30px;
    width:100px;
    text-align:center;
    border:none;
    height:40px;
    background-color:rgb(208, 78, 78);
    color:black;
    font-weight: bold;
    border-radius: 5px;

}

.button:hover{
    background-color:#0568a6;
    color:white;
    outline:solid;
    outline-color: black;
}


table{
    margin-top:3vh;
    margin-bottom:5vh;
    border-collapse:collapse;
    border:2px solid #ddd;
    min-height:50px;

}

#eltitle{
    border:1px solid #ddd;
    background-color:#0568a6;
    color:white;
    font-size:large;
    padding:5px;
    text-align:center;
    font-weight:bold;
}

#element{
    border:1px solid #ddd;
    text-align:center;
    width:16%;
}

#error{
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    height:40vh;
}

#cardbreak{
    margin:0px;
    margin-bottom:10px;
}

.card{
    width:22rem;
    min-height:5rem;
    display:flex;
    flex-direction:column;
    border-style:solid;
    padding-top:10px;
    padding-inline: 40px;
    padding-bottom:10px;
    margin:30px;
    background-color:rgb(202, 215, 226);
}
.card h1{
    font-weight:bold;
    margin-bottom:0px;
}
.card p{
    margin-bottom:0px;
    font-size:18px;
    font-variant: small-caps;
}

.selectList{
    display:flex;
    padding:0px;
    margin:0px;
    justify-content:center;
    flex-wrap:wrap;
}

.metricForm{
    display:flex;
    flex-direction:column;
    margin-top:0px;
    padding-top:0px;
    align-items:flex-start;
    margin-bottom:10px;
}

.metricForm label{
    margin-left:5px;
}

.normal{
   accent-color:rgb(208, 78, 78);
}

#numinput{
    width:100px;
}
#numinput:focus{
    outline-color:rgb(208, 78, 78);
}